// VARIABLES
$color-secondary: #6c757d;
// MIXINS

// Media Query Shorthand mixin taken from:
// http://thesassway.com/
// intermediate/responsive-web-design-in-sass-using-media-queries-in-sass-32
//
// Optimized for mobile first.

$screen-xs:                  480px !default;
$screen-sm:                  768px !default;
$screen-md:                  992px !default;
$screen-lg:                  1200px !default;

@mixin respond-to($media) {
  @if $media == sm {
      @media only screen and (min-width: $screen-sm) { @content; }
  } @else if $media == md {
      @media only screen and (min-width: $screen-md) { @content; }
  } @else if $media == lg {
      @media only screen and (min-width: $screen-lg) { @content; }
  }
}

// LAYOUT
.section {
  min-height: 30vw;
}

.hero-area {
  min-height: 30vw;
  background-image: url('../images/bnr-drupakmeetup.jpg');
  background-size: cover;
}

.footer {
  background-color: $color-secondary;
  color: #fff;
}

// COMPONENTS
.page-title {
  line-height: 1;
  text-align: center;
  font-size: 5rem;
  font-weight: 300;
  color: #ddd;
  text-shadow: 0 0 1px rgba(#fff, 0.75);
}
.event-list-past {
  .event-register {
    display: none;
  }
}
.card {
  a {
    &:hover {
      text-decoration: none;
    }
  }
  .card-img {
    @include respond-to(md) {
      width: auto;
    }
  }
  .card-subtitle {
    font-weight: 500;
    color: $color-secondary;
  }
}
